// color palette

$bold-text: #383838;

// NAVBAR
$nav-text: #433E67;

// HEADER
$bg-hero: #F7F7FD;
$dark-text: #333333;
$green-text: #26aa94;
$grey-text: #A6A6A6;

// SECTION-COURSES
$purple-text: #47426B;

// FOOTER

$footer-text: #8B8B90;
$footer-bg: #171621;


